body{
    color:#000000B8;
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    text-align: center;
    word-spacing: 100px;
    margin: 20px 0;
    font-weight:bold;
}

div{
    margin:20px 180px;
    border:1px solid;
    padding: 10px;
    overflow:auto;
   
}
a{

    color:#000000B8;

}
#a{
    float:right;
}
#b{
    height:53px
}